.lista{
    grid-area: lista;
    overflow-y: scroll;
    background: linear-gradient(90deg, rgba(206,0,0,1) 0%, rgba(248,77,77,1) 2%, rgba(255,80,25,1) 20%, rgba(234,255,190,1) 49%, rgba(255,70,41,1) 80%, rgba(255,77,77,1) 98%, rgba(214,0,0,1) 100%);
    min-height: 1000px;
}
.lista::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}
.lista input{
    all: unset;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 0;
    background: linear-gradient(90deg, rgba(176,0,0,1) 0%, rgba(204,94,94,1) 10%, rgba(192,146,145,1) 25%, rgba(194,151,149,1) 75%, rgba(205,101,96,1) 90%, rgba(155,0,0,1) 100%);
    color: #fff;
    text-shadow: 0 0 2px #000;
    border-bottom: 1px solid #009;
}
.lista input::placeholder{
    color: #fff;
}
.lista ul{
}
.lista ul button{
    all: unset;
    padding: 4px 10px;
    margin: 3px auto;
    border: 1px solid #000;
    width: 75%;
    background: linear-gradient(90deg, rgba(0,5,123,1) 0%, rgba(87,79,174,1) 10%, rgba(110,109,158,1) 25%, rgba(117,118,168,1) 75%, rgba(84,77,163,1) 90%, rgba(8,0,122,1) 100%);
    color: rgb(242, 255, 0);
    text-shadow: 0 0 2px rgb(4, 0, 255);
    box-shadow: 0 -2px 3px #000;
}
.lista ul button:hover{
    background: linear-gradient(90deg, rgba(18,22,123,1) 0%, rgba(94,86,178,1) 10%, rgba(105,104,136,1) 25%, rgba(106,107,139,1) 75%, rgba(87,81,150,1) 90%, rgba(26,18,136,1) 100%);
    color: rgb(193, 201, 30);
    box-shadow: 0 2px 3px rgb(162, 162, 162);
}

@media only screen and (min-width: 720px) and (min-height: 380px){
    .lista{
        min-height: 260px;
        max-height: 310px;
    }
}
@media  screen and (min-width: 1100px) and (min-height: 400px){
    .lista{
        min-height: 92vh;
    }
}