/* mobile first */
.body{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1.4fr;
    grid-template-areas: 
    "header header header" 
    "pantalla pantalla pantalla"
    "lista lista lista";
    gap: 0 0;
    background-color: rgb(235, 235, 235);
    text-align: center;
    max-height: 100vh;
}
@media only screen and (min-width: 500px){
    .body{
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-areas: 
        "header header header" 
        "lista pantalla pantalla"
        "lista pantalla pantalla"
        ;
    }
}
/* tablet */
@media  screen and (min-width: 720px) and (min-height: 720px){
    .body{
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header" 
        "pantalla pantalla pantalla"
        "lista lista lista"
        "footer footer footer";
    }
}

@media  screen and (min-width: 1100px) and (min-height: 400px){
    .body{
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1.3fr;
        grid-template-areas: 
        "header header header" 
        "lista pantalla pantalla"
        "lista pantalla pantalla"
        "lista footer footer";
    }
}